<h1> sldkjf </h1>
    <% if flash.has?(:message) %>
      <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
    <% end %>
    <div class="form-bottom">
            <form  action="/groups" method="post" >
              <div class="form-group">
                <label class="sr-only" for="form-description">Name</label>
                <input type="text" name="name" placeholder="Group Name..." class="form-name form-control" id="form-name" >
              </div> <!-- end form-group -->
              <button type="submit" class="btn btn-success">Create</button>
            </form> 
          </div> 